@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200&family=Barlow:wght@200&family=Montserrat:wght@500&family=Roboto+Slab&family=Source+Sans+Pro&display=swap');

.subJudul {
    font-family: 'Barlow', sans-serif;
    color: #7A0BC0;
}

.judul {
    font-family: 'Montserrat', sans-serif;
    color: #270082;
}

.warna {
    background-color: #270082;
}

.text-warna {
    color: #270082;
}

.keterangan {
    font-family: 'Anek Telugu', sans-serif;
}

.Judul2 {
    font-family: 'Roboto Slab', serif;
   color: #270082;
}

.judulPortofolio {
    font-family: 'Source Sans Pro', sans-serif;
}